[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AutoDeskR"]
	path = AutoDeskR
	url = https://github.com/paulgovan/autodeskr
[submodule "BayesianNetwork"]
	path = BayesianNetwork
	url = https://github.com/paulgovan/bayesiannetwork
[submodule "PRA"]
	path = PRA
	url = https://github.com/paulgovan/pra
[submodule "QRAGadget"]
	path = QRAGadget
	url = https://github.com/paulgovan/qragadget
[submodule "ReliaGrowR"]
	path = ReliaGrowR
	url = https://github.com/paulgovan/reliagrowr
[submodule "ReliaPlotR"]
	path = ReliaPlotR
	url = https://github.com/paulgovan/reliaplotr
[submodule "WeibullR.learnr"]
	path = WeibullR.learnr
	url = https://github.com/paulgovan/weibullr.learnr
[submodule "WeibullR.plotly"]
	path = WeibullR.plotly
	url = https://github.com/paulgovan/weibullr.plotly
[submodule "WeibullR.shiny"]
	path = WeibullR.shiny
	url = https://github.com/paulgovan/weibullr.shiny
[submodule "eAnalytics"]
	path = eAnalytics
	url = https://github.com/paulgovan/eanalytics
[submodule "energyr"]
	path = energyr
	url = https://github.com/paulgovan/energyr
